/* BASE */
$main-color: #c0392b;
$base-color: #ffffff;
$base-color-transparent: rgba($base-color, 0.4);
$text-color: #333333;
$text-color-inverse: #ffffff;
$base-font: 'Source Sans Pro', 'helvetica neue', 'helvetica', 'arial', 'sans serif';
$accent-font: 'Yanone Kaffeesatz';


html {
	font-size: 100%;
	font-size: 62.5%; // 1rem = 10px.
}

body {
	font: 400 1.6rem/1.4 $base-font;
	background-image: url('../images/jp-paper.png');
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	font-family: $accent-font;
	font-weight: 700;
	color: $main-color;
}

h1, .h1 {
	font-size: 4rem;
}

h2, .h2 {
	font-size: 3.2rem;
}

h3, .h3 {
	font-size: 2.4rem;
}

h4, .h4 {
	font-size: 1.8rem;
}



a {
	color: $main-color;
}

/* LAYOUT */
.header-main {
	background-image: url('../images/cloth.png');
}

.topbar {
	background-image: url('../images/jp-paper-red.png');
	padding: 0.8rem 0;
}

.navbar {
	background-image: url('../images/jp-paper-red.png');
	a {
		color: #ffffff !important;
		font: 700 1.8rem $base-font;
	}
}

/* COMPONENTS */

.btn-primary {
	border-radius: 2px;
	background-color: $main-color;
	border-color: $main-color;
	&:hover, &:visited, &:active, &:focus {
		background-color: lighten($main-color, 0.9);
		border-color: $main-color;
	}
}


.form-submit {
	color: #fff;
	box-shadow: none;
	border: 1px solid $main-color;
	padding: 0.8rem;
	margin: 0.4rem;
	min-width: 80px;
	@extend .btn-primary;
}

.form-text {
	width: 100%;
}


.review-stars, #edit-field-stars-und {
	color: $main-color;
}

.res-thumb-container {
	background-size: cover;
	background-position: center;
	border: 2px solid #ffffff;
	position: relative;
	min-height: 240px;
	&:hover {
		border-color: $main-color;
	}
}



.logout-link {
	a, a:hover, a:visited {
		color: #ffffff;
	}
	text-align: right;
}



.view-restaurant-thumbs, .view-popular-restaurants.view-display-id-block {
	>.view-content {
		margin: 0 -1.5rem;
		>div {
			padding: 0 1.5rem;
			margin-bottom: 3rem;
			.res-thumb-container {
				min-height: 120px;
			}
			.res-thumb-title {
				background-color: rgba(#000, 0.4);
				color: $text-color-inverse;
				font-weight: 400;
				padding: 0.8rem;
				position: absolute;
				right: 0;
				left: 0;
				bottom: 0;
				margin-bottom: 1.6rem;
				text-align: right;
			}
		}
	}
}

#block-views-restaurant-thumbs-block {
	h3 {
		font-size: 3.2rem;
	}
	.view-content>.views-row {
		.res-thumb-container {
			min-height: 20rem;
		}
		.res-thumb-title {
			font: 700 2.4rem $accent-font;
		}
	}
}

@media (min-width: 992px) {
	.view-restaurant-thumbs, .view-popular-restaurants.view-display-id-block {
		>.view-content {
			>div {
				width: 25%;
				float: left;
			}
		}
	}

	#block-views-restaurant-thumbs-block {
		.view-content>.views-row-first {
			width: 50%;
		}
	}

}

#block-views-new-photos-block {
	div {
		width: 100%;
	}
	img {
		width: 100%;
		border: 2px solid #ffffff;
		&:hover {
			border-color: $main-color;
		}
	}
}

#block-views-new-reviews-block {
	.views-row {
		margin-bottom: 2rem;
	}
	.title-new-review {
		margin-top: 0;
	}
}


.field-name-field-photos {
	.field-item {
		display: inline-block;
		margin: 0 1rem 1rem 0;

	}
	img {
		height: 12rem;
		width: auto;
		border: 2px solid #ffffff;
		&:hover {
			border-color: $main-color;
		}
	}
}

.user-picture img {
	border: 1px solid #333;
}

.comment-image-thumbs-wrapper {
	max-height: 40rem;
	overflow: hidden;
	position: relative;
}
.comment-image-thumbs {
	position: relative;
	top: 0;
	.res-thumb-container {
		min-height: 8rem;
		margin-bottom: 1rem;
	}
}
.comment-image-thumb-up, .comment-image-thumb-down {
	background-color: $main-color;
	text-align: center;
	color: #fff;
	border-radius: 2px;
	border: 2px solid #fff;
	cursor: pointer;
}

#edit-field-stars-und {
	font-family: fontawesome;
	.form-item-field-stars-und {
		display: inline-block;
		width: 1em;
		height: 1em;

	}
	label {
		cursor: pointer;
	}
	input {
		display: none;
	}
}

#block-views-new-photos-block {
	.views-row {
		margin-bottom: 1rem;
	}
}
/* STATE */

.navbar a.active, .navbar a:hover {
	background-color: $base-color-transparent !important;
}

/* THEME */